.titulo{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #444444;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header {
    margin-bottom: 20px;
    width: 100%;
}

.titulo-juego {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    margin: 0;
    padding: 20px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);

    background-color: #515151;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para el borde */
}
